<a href="https://colab.research.google.com/github/PARKHYOUNJUNG/phj_lms23/blob/main/CODE/PHJ_12days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- [pykrx](https://github.com/sharebook-kr/pykrx)
- [네이버증권](https://finance.naver.com/)

In [ ]:
!pip install pykrx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pykrx
  Downloading pykrx-1.0.41-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.5/125.5 kB 9.4 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pykrx) (1.22.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pykrx) (1.4.4)
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (from pykrx) (2.0.1)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from pykrx) (2.27.1)
Collecting datetime
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 6.5 MB/s eta 0:00:00
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Collecting zope.interface
  Downloading zope.interface-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.1/246.1 kB 26.0 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from datetime->pykrx) (2022.7.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.9/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (2022.12.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (1.26.15)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pykrx) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from zope.interface->datetime->pykrx) (67.6.1)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-5.1 deprecated-1.2.13 pykrx-1.0.41 zope.interface-6.0

In [ ]:
start_date = "20230101"
end_date = "20230411"
today = "20230410"
ticker = "373220" # LG에너지 솔루션

In [ ]:
from pykrx import stock

df = stock.get_market_ohlcv(start_date, end_date, ticker)
df.head(3)

                시가      고가      저가      종가     거래량          거래대금   등락률
날짜
2023-01-02  442000  455000  441500  446000  250046  112200536500  2.41
2023-01-03  446000  449500  435000  440500  218710   96276867000 -1.23
2023-01-04  433000  445000  421000  443000  291720  126337595500  0.57

In [ ]:
import pandas as pd

In [ ]:
stock.get_market_ticker_list()[:5]

['095570', '006840', '027410', '282330', '138930']

In [ ]:
stock.get_market_ticker_name('373220')

'LG에너지솔루션'

In [ ]:
# ticker(주식번호) 와 종목명
df_tic = pd.DataFrame({'ticker':[],'tic_name':[]})

for ticker in stock.get_market_ticker_list(date='20230410'):
  df_tic.loc[len(df_tic)]=[ticker,stock.get_market_ticker_name(ticker)]

df_tic.tail()

     ticker tic_name
943  005010      휴스틸
944  000540     흥국화재
945  000547  흥국화재2우B
946  000545    흥국화재우
947  003280     흥아해운

In [ ]:
# ticker(주식번호) 와 인덱스(종목구분)
df_ind = pd.DataFrame({'tic_index':[],'tic_index_name':[],'ticker':[]})

for tic_ind in stock.get_index_ticker_list(date='20230410',market='KOSPI'):
  tic_ind_list=stock.get_index_portfolio_deposit_file(tic_ind)
  i=0
  while i < len(tic_ind_list):
    df_ind.loc[len(df_ind)]=[tic_ind, stock.get_index_ticker_name(tic_ind),tic_ind_list[i]]
    i=i+1

df_ind.tail()

     tic_index  tic_index_name  ticker
5040      1894  코스피 200 TOP 10  006400
5041      1894  코스피 200 TOP 10  005380
5042      1894  코스피 200 TOP 10  000270
5043      1894  코스피 200 TOP 10  035420
5044      1894  코스피 200 TOP 10  035720

In [ ]:
# 중복값확인
df_ind.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5040    False
5041    False
5042    False
5043    False
5044    False
Length: 5045, dtype: bool

In [ ]:
# 결측치 확인
df_ind.isna().sum()

tic_index         0
tic_index_name    0
ticker            0
dtype: int64

In [ ]:
len(set(df_tic['ticker'].unique())-set(df_ind['ticker'].unique()))

124

In [ ]:
# ticker(주식번호) 와 인덱스(종목구분) 
df_ind_tic=pd.merge(df_ind, df_tic, on='ticker', how = 'left' )
df_ind_tic.tail()

     tic_index  tic_index_name  ticker tic_name
5040      1894  코스피 200 TOP 10  006400    삼성SDI
5041      1894  코스피 200 TOP 10  005380      현대차
5042      1894  코스피 200 TOP 10  000270       기아
5043      1894  코스피 200 TOP 10  035420    NAVER
5044      1894  코스피 200 TOP 10  035720      카카오

In [ ]:
df_ind_tic[df_ind_tic['tic_name']=='카카오']

     tic_index     tic_index_name  ticker tic_name
10        1001                코스피  035720      카카오
834       1002            코스피 대형주  035720      카카오
2379      1026               서비스업  035720      카카오
2972      1028            코스피 200  035720      카카오
3172      1034            코스피 100  035720      카카오
3272      1035             코스피 50  035720      카카오
3313      1150  코스피 200 커뮤니케이션서비스  035720      카카오
3621      1182   코스피 200 초대형제외 지수  035720      카카오
3821      1224   코스피 200 비중상한 30%  035720      카카오
4021      1227   코스피 200 비중상한 25%  035720      카카오
4221      1232   코스피 200 비중상한 20%  035720      카카오
5044      1894     코스피 200 TOP 10  035720      카카오

In [ ]:
# ticker(주식번호) 와 인덱스(종목구분) 와 종목명 중 업종 구분만
df_ind_tic1=df_ind_tic[df_ind_tic['tic_index_name'].str.startswith('코스피') == False]
# df_ind_tic[df_ind_tic['tic_index_name'].str.startswith('코스피') == False]['tic_index_name'].unique()
df_ind_tic1['tic_index_name'].unique()

array(['음식료품', '섬유의복', '종이목재', '화학', '의약품', '비금속광물', '철강금속', '기계', '전기전자',
       '의료정밀', '운수장비', '유통업', '전기가스업', '건설업', '운수창고업', '통신업', '금융업', '증권',
       '보험', '서비스업', '제조업'], dtype=object)

In [ ]:
df_ind_tic1.duplicated('tic_name').sum()
# 한 주식 종목이 여러업종으로 구분되어 있음

500

In [ ]:
df_ind_tic2=df_ind_tic[df_ind_tic['tic_index_name'] == '서비스업']
df_ind_tic3=df_ind_tic[df_ind_tic['tic_index_name'] == '코스피 100']
df_ind_tic2

     tic_index  tic_index_name  ticker tic_name tic_index_name1
5040      1894  코스피 200 TOP 10  006400    삼성SDI  코스피 200 TOP 10
5041      1894  코스피 200 TOP 10  005380      현대차  코스피 200 TOP 10
5042      1894  코스피 200 TOP 10  000270       기아  코스피 200 TOP 10
5043      1894  코스피 200 TOP 10  035420    NAVER  코스피 200 TOP 10
5044      1894  코스피 200 TOP 10  035720      카카오  코스피 200 TOP 10

In [ ]:
df1 = pd.DataFrame({'A':[1,2,3,4],'B':[7,8,9,10]})
df1.loc[0]=[7,118]
df1

   A    B
0  7  118
1  2    8
2  3    9
3  4   10

In [ ]:
bank_tickers = ['SIVB',
                'JPM', # JP Morgan 
                'BAC', # Bank of America
                'CCBG', # Capital City Bank Group
                'AXP' # American Express Company
                 ]
df = pd.DataFrame()
for ticker in bank_tickers:
    temp = data.get_data_yahoo(ticker, start = '2020-01-01')['Close']
    df = pd.merge(df, temp, right_index=True, left_index=True, how='outer', suffixes=('', ticker))

NameError: ignored