<a href="https://colab.research.google.com/github/PARKHYOUNJUNG/phj_lms23/blob/main/CODE/PHJ_12days.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- [pykrx](https://github.com/sharebook-kr/pykrx)
- [네이버증권](https://finance.naver.com/)

In [2]:
!pip install pykrx

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pykrx
  Downloading pykrx-1.0.41-py3-none-any.whl (125 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.5/125.5 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from pykrx) (1.22.4)
Collecting deprecated
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: xlrd in /usr/local/lib/python3.9/dist-packages (from pykrx) (2.0.1)
Collecting datetime
  Downloading DateTime-5.1-py3-none-any.whl (52 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 52.1/52.1 kB 6.8 MB/s eta 0:00:00
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (from pykrx) (1.5.3)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from pykrx) (2.27.1)
Collecting zope.interface
  Downloading zope.interface-6.0-cp39-cp39-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (246 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 246.1/246.1 kB 19.5 MB/s eta 0:00:00
Requirement already satisfied: pytz in /usr/local/lib/python3.9/dist-packages (from datetime->pykrx) (2022.7.1)
Requirement already satisfied: wrapt<2,>=1.10 in /usr/local/lib/python3.9/dist-packages (from deprecated->pykrx) (1.14.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas->pykrx) (2.8.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->pykrx) (2022.12.7)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas->pykrx) (1.16.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.9/dist-packages (from zope.interface->datetime->pykrx) (67.6.1)
Installing collected packages: zope.interface, deprecated, datetime, pykrx
Successfully installed datetime-5.1 deprecated-1.2.13 pykrx-1.0.41 zope.interface-6.0

In [1]:
start_date = "20230101"
end_date = "20230411"
today = "20230410"
ticker = "373220" # LG에너지 솔루션

In [2]:
from pykrx import stock

df = stock.get_market_ohlcv(start_date, end_date, ticker)
df.head(3)

                시가      고가      저가      종가     거래량          거래대금   등락률
날짜
2023-01-02  442000  455000  441500  446000  250046  112200536500  2.41
2023-01-03  446000  449500  435000  440500  218710   96276867000 -1.23
2023-01-04  433000  445000  421000  443000  291720  126337595500  0.57

In [3]:
import pandas as pd

In [4]:
stock.get_market_ticker_list()[:5]

['095570', '006840', '027410', '282330', '138930']

In [5]:
stock.get_market_ticker_name('373220')

'LG에너지솔루션'

In [6]:
# ticker(주식번호) 와 종목명
df_tic = pd.DataFrame({'ticker':[],'tic_name':[]})

for ticker in stock.get_market_ticker_list(date='20230410'):
  df_tic.loc[len(df_tic)]=[ticker,stock.get_market_ticker_name(ticker)]

df_tic.tail()

     ticker tic_name
943  005010      휴스틸
944  000540     흥국화재
945  000547  흥국화재2우B
946  000545    흥국화재우
947  003280     흥아해운

In [7]:
# ticker(주식번호) 와 인덱스(종목구분)
df_ind = pd.DataFrame({'tic_index':[],'tic_index_name':[],'ticker':[]})

for tic_ind in stock.get_index_ticker_list(date='20230410',market='KOSPI'):
  tic_ind_list=stock.get_index_portfolio_deposit_file(tic_ind)
  i=0
  while i < len(tic_ind_list):
    df_ind.loc[len(df_ind)]=[tic_ind, stock.get_index_ticker_name(tic_ind),tic_ind_list[i]]
    i=i+1

df_ind.tail()

     tic_index  tic_index_name  ticker
5040      1894  코스피 200 TOP 10  006400
5041      1894  코스피 200 TOP 10  005380
5042      1894  코스피 200 TOP 10  000270
5043      1894  코스피 200 TOP 10  035420
5044      1894  코스피 200 TOP 10  035720

In [8]:
# 중복값확인
df_ind.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
5040    False
5041    False
5042    False
5043    False
5044    False
Length: 5045, dtype: bool

In [9]:
# 결측치 확인
df_ind.isna().sum()

tic_index         0
tic_index_name    0
ticker            0
dtype: int64

In [10]:
len(set(df_tic['ticker'].unique())-set(df_ind['ticker'].unique()))

124

In [11]:
# ticker(주식번호) 와 인덱스(종목구분) 
df_ind_tic=pd.merge(df_ind, df_tic, on='ticker', how = 'left' )
df_ind_tic.tail()

     tic_index  tic_index_name  ticker tic_name
5040      1894  코스피 200 TOP 10  006400    삼성SDI
5041      1894  코스피 200 TOP 10  005380      현대차
5042      1894  코스피 200 TOP 10  000270       기아
5043      1894  코스피 200 TOP 10  035420    NAVER
5044      1894  코스피 200 TOP 10  035720      카카오

In [12]:
# df_ind_tic[df_ind_tic['tic_name']=='국민은행']

Empty DataFrame
Columns: [tic_index, tic_index_name, ticker, tic_name]
Index: []

In [13]:
# ticker(주식번호) 와 인덱스(종목구분) 와 종목명 중 업종 구분만
df_ind_tic1=df_ind_tic[df_ind_tic['tic_index_name'].str.startswith('코스피') == False]
# df_ind_tic[df_ind_tic['tic_index_name'].str.startswith('코스피') == False]['tic_index_name'].unique()
df_ind_tic1['tic_index_name'].unique()

array(['음식료품', '섬유의복', '종이목재', '화학', '의약품', '비금속광물', '철강금속', '기계', '전기전자',
       '의료정밀', '운수장비', '유통업', '전기가스업', '건설업', '운수창고업', '통신업', '금융업', '증권',
       '보험', '서비스업', '제조업'], dtype=object)

In [14]:
df_ind_tic1.duplicated('tic_name').sum()
# 한 주식 종목이 여러업종으로 구분되어 있음

500

In [15]:
df_ind_tic2=df_ind_tic[df_ind_tic['tic_index_name'] == '금융업']
# df_ind_tic3=df_ind_tic[df_ind_tic['tic_index_name'] == '코스피 100']
df_ind_tic2

     tic_index tic_index_name  ticker  tic_name
2248      1021            금융업  105560      KB금융
2249      1021            금융업  055550      신한지주
2250      1021            금융업  003550        LG
2251      1021            금융업  034730        SK
2252      1021            금융업  032830      삼성생명
...        ...            ...     ...       ...
2343      1021            금융업  005740  크라운해태홀딩스
2344      1021            금융업  000590     CS홀딩스
2345      1021            금융업  044820  코스맥스비티아이
2346      1021            금융업  001290     상상인증권
2347      1021            금융업  006200   한국전자홀딩스

[100 rows x 4 columns]

In [19]:
df_ind_tic2[df_ind_tic2['tic_name'].str.count('KB') > 0]

     tic_index tic_index_name  ticker tic_name
2248      1021            금융업  105560     KB금융

In [20]:
ticker='105560'
df = stock.get_market_trading_value_by_date(start_date, end_date, ticker)
df.head()

                   기관합계        기타법인           개인        외국인합계  전체
날짜
2023-01-02  -6471793550    13351550   4077752600   2380689400   0
2023-01-03  -6471784900    97611500  -2385665100   8759838500   0
2023-01-04   4771394250   296267350  -7276349450   2208687850   0
2023-01-05  17226125600  -794240000 -46451403500  30019517900   0
2023-01-06  23368079100 -1038555500 -67890820900  45561297300   0

In [21]:
df = stock.get_market_trading_value_by_investor(start_date, end_date, ticker)
df.head()

                 매도            매수          순매수
투자자구분
금융투자   526193192300  478340109700 -47853082600
보험      49879174850   44040288200  -5838886650
투신     119642647900  113201865900  -6440782000
사모     112051418000   85321427800 -26729990200
은행       1543085200   11260756050   9717670850

In [25]:
df = stock.get_market_fundamental(start_date, end_date, ticker)
df

               BPS   PER   PBR    EPS   DIV   DPS
날짜
2023-01-02  121808  4.28  0.39  11134  6.18  2940
2023-01-03  121808  4.41  0.40  11134  5.99  2940
2023-01-04  121808  4.54  0.41  11134  5.82  2940
2023-01-05  121808  4.84  0.44  11134  5.45  2940
2023-01-06  121808  5.09  0.47  11134  5.19  2940
...            ...   ...   ...    ...   ...   ...
2023-04-05  121808  4.30  0.39  11134  6.14  2940
2023-04-06  121808  4.19  0.38  11134  6.30  2940
2023-04-07  121808  4.22  0.39  11134  6.26  2940
2023-04-10  121808  4.18  0.38  11134  6.32  2940
2023-04-11  121808  4.22  0.39  11134  6.26  2940

[69 rows x 6 columns]